<footer>
    <div>
        <p class="pull-right"><a href="#">Back to top</a></p>
            <p class="copyright>&copy; 2016 CIDAR - All Rights Reserved. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</footer>
