<% layout('layout') -%>


<div class="container-fluid" style="background:#ffffff;">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-8" id="chart" style="width:600px;height:384px;background:#ffffff;"></div>

        <div class="col-xs-12 col-md-4" style="text-align: center;">
            <h3>Caption or any notes here</h3>
            <p style="text-align: center;">(or perhaps another graph?)</p>
            <p style="text-align: left;">Green and red stand for GFP and RFP fold-change expression levels.</p>
        </div>
    </div>
</div>

<script><% include ../../src/main/js/linegraph.js %></script>
