<% layout('layout') -%>


<div class="container-fluid" style="background:#ffffff;">
    <div class="row-fluid">
        <div class="col-md-8" id="chart" style="width:600px;height:384px;background:#ffffff;"></div>
       
        <div class="col-md-4" style="text-align: center;">
            <h3>Caption or any notes here</h3>
            <p style="text-align: center;">(or perhaps another graph?)</p>
            <p style="text-align: left;">Randomly-generated stacked bar for the purpose of presentation.</p>
        </div>
    </div>
</div>

<script><% include ../../src/main/js/stackedbars.js %></script>




